@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Nunito', sans-serif;
  --gradient-text: linear-gradient(89.97deg, #19e8e2 1.84%, #3d71df 102.67%);
  --gradient-text2: linear-gradient(89.97deg, #81AFDD 1.84%, #60ec14 102.67%);
  --gradient-text3: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  --color-bg: #dfdfdf;
  --color-footer: #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
  --card-height: auto;
  --card-width: calc(var(--card-height) / 1.2)
}

.wrapper {
  font-family: var(--font-family);
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  /* global 92%+ browsers support */
  background: radial-gradient(circle at 3% 25%, rgb(157, 174, 192) 0%, rgba(62, 139, 255, 0.818) 25%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 3% 25%, rgb(157, 174, 192) 0%, rgba(62, 139, 255, 0.818) 25%);

  /* opera 11.10+ */
  background: -moz-radial-gradient(circle at 3% 25%, rgb(157, 174, 192) 0%, rgba(62, 139, 255, 0.818) 25%);

  /* ie 10+ */
  background: -o-radial-gradient(circle at 3% 25%, rgb(157, 174, 192) 0%, rgba(62, 139, 255, 0.818) 25%);
}

.gradient__bg__center {

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 50% 50%, rgb(157, 174, 192) 0%, rgba(62, 139, 255, 0) 60%);

  /* opera 11.10+ */
  background: -moz-radial-gradient(circle at 50% 50%, rgb(157, 174, 192) 0%, rgba(62, 139, 255, 0) 60%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 50% 50%, rgb(157, 174, 192) 0%, rgba(62, 139, 255, 0) 60%);

  /* ie 10+ */
  background: -o-radial-gradient(circle at 50% 50%, rgb(157, 174, 192) 0%, rgba(62, 139, 255, 0) 60%);

}

.gradient__bg__left {
  background: radial-gradient(circle at 5% 50%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 15%);
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.gradient__text2 {
  background: var(--gradient-text2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient__text3 {
  background: var(--gradient-text3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.breathe {
  background: linear-gradient(90deg, #F49867, #F49867, #19e8e2, #3d71df, #81AFDD, #60ec14, #F49867, #8167f4);
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  animation: gradient 10s linear infinite;
}